<!DOCTYPE html>
<html>
<head>
  <title>Edit Product</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Edit Product</h1>
  <form method="POST" action="/api/products/updateproduct/<%= product.id %>" enctype="application/x-www-form-urlencoded">
    Title <input type="text" name="name" value="<%= product.name %>"><br>
    Description <input type="text" name="description" value="<%= product.description %>"><br>
    Price <input type="text" name="price" value="<%= product.price %>"><br>
    <button type="submit" value="update product">Update Product</button>    
  </form>
</body>
</html>
