<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <title>User Registration</title>
</head>
<body>
  <h1>User Registration</h1>
  <form id="form1" method="POST" action="/api/auth/register" enctype="application/x-www-form-urlencoded">
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <select name="role" required>
      <option>select role</option>
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select><br>
    <button type="submit">Register</button>
    <a href="/">Home</a>
  </form>
</body>
</html>
